@{
    ViewBag.Title = "Home";

}


<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Home</h1>
        <p>Welcome To the Home page</p>

    </div>

</div> <!-- /container -->


